.img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.card {
    width: 250px;
    height: 400px;
    border-radius: 15px;
    background-color: bisque;

}

.card:hover{
    cursor: pointer;
    height: 105%;

}

.image_container {
    width: 100%;
    height: 175px;
    background-color: black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}